@import "../base";

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    background: white;
    box-shadow: 1px 5px 10px #999;
    z-index: 3;

    .logo {
        color: $font-brown;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        font-size: 28px;
    }
}