@import "../base";

.ant-menu-vertical {
    border-bottom: none;
    font-weight: bold;
    color: $gray-light;

    .anticon {
        margin-right: 5px;
    }


    .ant-menu-item {
        margin-top: 0px;

        &:not(:last-child) {
            margin-bottom: 0px;
        }
        
        a:hover {
            color: $font-brown-light;
        }
    }

    .ant-menu-item-selected a {
        color: white;
    }
    
    &:not(.ant-menu-dark) {
        .ant-menu-item:hover {
            background-color: white;
            transform: scale(1.1); 
        }
    }
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: $font-brown-light;
    color: white;
}

.ant-menu-item-group {
    &-title {
        color: black;

        > span:last-child {
            margin-left: 10px;
        }
    }

    &-list {
        font-size: 12px;

        .ant-menu-item {
            margin-left: 16px;
            padding-left: 16px;
        }
    }

}