@import "../base";

.experience {
    padding: 10px 0;

    .title {
        font-size: 20px;
        color: $font-brown;
        font-weight: bold;
        width: 150px;
        margin: 0px auto 40px;
        border-radius: 10px; 
        border: 3px solid #f0d3c3;
    }

    .block-title {
        font-weight: bold;
    }

}
.ant-timeline.ant-timeline-label .ant-timeline-item-label {
    color: $font-brown;
    font-weight: bold;
}
h3 {
    font-weight: bold;
}

@include laptop {
    .ant-timeline.ant-timeline-label {
        .ant-timeline-item-label {
            width: calc(40% - 100px);
        }
        .ant-timeline-item-tail, .ant-timeline-item-head {
            left: calc(40% - 75px);
        }
        .ant-timeline-item-left .ant-timeline-item-content {
            left: calc(40% - 70px);
            width: 60%;
        }
    }
}

@include pad {
    .ant-timeline.ant-timeline-label {
        .ant-timeline-item-label {
            width: calc(40% - 100px);
        }
        .ant-timeline-item-tail, .ant-timeline-item-head {
            left: calc(40% - 75px);
        }
        .ant-timeline-item-left .ant-timeline-item-content {
            left: calc(40% - 70px);
            width: 60%;
        }
    }
}

@include mobile {
    .ant-timeline.ant-timeline-label {
        .ant-timeline-item-label {
            width: calc(50% - 100px);
        }
        .ant-timeline-item-tail, .ant-timeline-item-head {
            left: calc(50% - 75px);
        }
        .ant-timeline-item-left .ant-timeline-item-content {
            left: calc(50% - 70px);
            width: 60%;
        }
    }
}