@import "../base";

.title {
    .tags {
        margin: 10px;
        span {
            padding: 10px;
            text-decoration: underline;
            color: $gray-light;
            font-weight: bold;
        }
    }
    .about {
        padding: 15px 30px;
    }
    .email {
        text-decoration: underline;
    }
    .link {
        a:hover img{
            transform: scale(1.2);
        }
    }
}