@import "../base";

.title {
    .tags {
        margin: 10px;
        span {
            padding: 10px;
            text-decoration: underline;
            color: $gray-light;
            font-weight: bold;

            @include mobile {
                padding: 0 10px;
                display: block;
            }
        }
    }
    .about {
        text-align: left;
        padding: 15px;

        @include laptop {
            text-align: center;
            padding: 15px 100px;
            
         }
    }
    
    .email {
        text-decoration: underline;
    }
    .link {
        a:hover img{
            transform: scale(1.2);
        }
    }
}