@import "../base";

.portfolio {
    padding: 60px 40px;
    background-color: $page-background;

    .page-title {
        font-weight: bold;
        text-align: center;
        padding-bottom: 10px;
    }

    .projects {
        @include laptop {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

    }
}