@import "../base";

.project {
    position: relative;

    &:hover .overlay {
        opacity: 1;
    }

    .image {
        display: block;
        width: 100%;
        height: 100%;

        @include pad {
            height: auto;
            min-height: 240px;
        }

        @include mobile {
            height: auto;
            min-height: 120px;
        }
      }
      
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: $gray-light;
        cursor: pointer;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;

        .tags span {
            color: white;
        }

        .skills p {
            color: white;
        }
    }
    
    .normal {
        border: 1px solid $page-background-gray;
        border-top: 1px dashed $page-background-gray;
        background-color: white; 
        padding: 10px;

        .btn {
            display: flex;
            justify-content: center;
            margin-top: 16px;

        }
    }

    .title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding-bottom: 8px;

        @include mobile {
            font-size: 16px;
        }
    }

    .subtitle {
        font-size: 18px;
        font-weight: bold;
        text-align: center;

        @include mobile {
            font-size: 14px;
        }
    }

    .link {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;   

        .ant-btn {
            margin: 2px;

            &:hover {
                color: $font-brown;
                font-weight: bold;
                border-color: $gray-dark;
                transform: scale(1.1);
            }
        }
    }
}