@import "../base";

.project1 {
    width: 96%;
    margin: 20px auto;

    @include laptop {
        width: calc(50% - 50px);
        margin: 20px;
        min-height: 250px;

        .image {
            min-height: 250px;
        }
    }

    .overlay {
        padding: 44px 8px 10px;

        @include mobile {
            padding: 10px 4px;
        }

        .tags {
            position: absolute;
            bottom: 20px;
            width:100%;
        }
    }

    .title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: white;
        padding-bottom: 10px;

        @include mobile {
            font-size: 16px;
        }
    }

    .subtitle {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: white;

        @include mobile {
            font-size: 14px;
        }
    }

    .period {
        color: white;
        font-size: 12px;
        text-align: right;
    }

    .tags {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        span {
            margin:2px 8px;
            color: white;
            text-align: center;
            text-decoration: underline;
            font-size: 14px;
            font-weight: bold;
        }
    }

    .button {
        display: flex;
        justify-content: center;
    }
}