@import "../base";

.project2 {
    position: relative;
    width: 90%;
    margin: 20px auto;
    
    @include laptop {
        width: calc(50% - 50px);
        margin: 20px;
        
    }
    

    &:hover .overlay {
        opacity: 1;
    }

    .image {
        display: block;
        width: 100%;
        height: auto;
      }
      
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: $gray-light;
        padding-top: 50px;
    }
    
    .title {
        color: white;
        font-size: 20px;
        text-align: center; 
    }

    .subtitle {
        color: white;
        font-size: 18px;
        text-align: center; 
    }

    .skills {
        display: block;
        p{
            color: white;
            text-align: center; 
        }
    }

    .link {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 10px;
        width: 100%;

        .ant-btn {
            margin: 10px;

            &:hover {
                color: $font-brown;
                font-weight: bold;
                border-color: #999;
                transform: scale(1.1);
            }
        }
    }
}