@import "../base";

.project3 {
    width: calc(20% - 20px);
    margin: 10px;

    @include pad {
        width: calc(50% - 20px);
    }

    @include mobile {
        width: 96%;
        margin: 10px auto;
    }
      
    .overlay {
        padding: 24px 10px 10px;

        @include mobile {
            padding: 10px 4px;
        }
    }
    
    .title {
        color: white;
        font-size: 18px;
        text-align: center; 
        margin-top: 10px;
        margin-bottom: 10px;
    }

    
    .link {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        .ant-btn {
            margin: 2px;

            &:hover {
                color: $font-brown;
                font-weight: bold;
                border-color: #999;
                transform: scale(1.1);
            }
        }
    }
}