@import "../base";

.project {

    @include laptop {
        width: calc(50% - 18px);

        .ant-card {
            border-radius: 5px;
            min-height: 550px;
        }
        
        img {
            height: 300px;
        }
    }
    

    img {
        margin: 10px auto;
    }

    > div {
        margin: 20px 0;
    }

    .title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: $font-brown;
        padding-bottom: 10px;
    }

    .subtitle {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: $font-brown;
    }

    .period {
        color: $gray-light;
        font-size: 12px;
        text-align: right;
    }

    .result {
        font-weight: bold;
        color: $gray-light;
    }

    .tags {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px 0;
        span {
            margin:0 5px;
            color: $gray-light;
            text-align: center;
            text-decoration: underline;
            font-size: 12px;
        }
    }
}