@import "../base";

.project2 {
    width: 96%;
    margin: 20px auto;
    
    @include laptop {
        width: calc(50% - 50px);
        margin: 20px;
        
    }
      
    .overlay {
        padding-top: 50px;

        @include mobile {
            padding: 10px 4px;
        }
    }
    
    .title {
        color: white;
        font-size: 20px;
        text-align: center; 
    }

    .subtitle {
        color: white;
        font-size: 18px;
        text-align: center; 
    }

    .skills {
        display: block;
        p{
            color: white;
            text-align: center; 
        }
    }

    .link {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 10px;
        width: 100%;

        .ant-btn {
            margin: 10px;

            &:hover {
                color: $font-brown;
                font-weight: bold;
                border-color: #999;
                transform: scale(1.1);
            }
        }
    }
}